

on:
  push:
    branches: [ main , develop ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Set up Chrome
      uses: browser-actions/setup-chrome@v1
      with:
        chrome-version: stable

    - name: Display Chrome version
      run: chrome --version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r Selenium_Ecommerce/requirements.txt

    - name: Install Allure CLI
      run: |
        sudo wget https://github.com/allure-framework/allure2/releases/download/2.24.1/allure-2.24.1.tgz
        sudo tar -zxf allure-2.24.1.tgz -C /opt/
        sudo ln -s /opt/allure-2.24.1/bin/allure /usr/bin/allure
        allure --version

    - name: Run pytest for test_login
      env:
        BROWSER: chrome
        CI: true
      run: |
        pytest Selenium_Ecommerce/tests -v -s --clean-alluredir --alluredir=reports/allure-results --html=reports/test_report.html
      continue-on-error: true

    - name: Generate Allure Report
      if: always()
      run: |
        allure generate reports/allure-results -o reports/allure-report --clean

    - name: Upload Allure Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-results
        path: reports/allure-results
        retention-days: 30

    - name: Upload HTML report
      uses: actions/upload-artifact@v4 # CHANGED FROM v3 to v4
      if: always()
      with:
        name: HTML-report
        path: reports/
        retention-days: 30

    - name: Upload Allure Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: reports/allure-report
        retention-days: 30

    - name: Upload Screenshots
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Screenshots
        path: reports/
        retention-days: 30